section#contact-info p {
  font-size: .8em;
}

.job {
  background-color: #e9e5dc;
  border-radius: 25px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul.accomplish li {
  font-size: .8em;
}